<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @board.about %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user.name %>
</p>
	<% @pins.each do |pin| %>

	<li> <%= @pin.name %> </li>	

	</ul>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
