<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @board.about %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user.name %>
</p>
	<p>Pins On This Board </p>
	
	<ul> 
		<% @board.pins.each do |pin|%>

	<li> <%= pin.name %>:<% pin.about%> </li>	
	
	<% end %>
	
	</ul>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
